@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

* {
    padding: 0;
    margin: 0;
}

html {
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

body {
    width: 100%;
    min-width: 100%;
    position: relative;
}
.dropbtn {
    background: none;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    transition: .4s;
    border-radius: 2px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background: #ffffff;
    margin-right: 260px;
    min-width: 100px;
    border-radius: 2px;
  }
  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 2px 2px;
    font-size: 15px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
  }
  .dropdown-content a:hover {
      background-color: rgb(255, 0, 0);
      border-radius: 2px;
      color: rgb(255, 255, 255);
    }
  .dropdown:hover .dropdown-content {
      display: block;
      border-radius: 2px;
      color: rgb(255, 255, 255);
    }
  .dropdown:hover .dropbtn {
      background-color: #ff0000;
      border-radius: 2px;
      color: rgb(255, 255, 255);
    }

.wrapper {
    position: relative;
    background: url('images/bg2.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
    background-size: cover;
}

.header ul li {
    font-weight: bold;
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.navbar .logo {
    width: 9rem;
    height: auto;
    position: center;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    line-height: 10px;
}

.navbar ul li a {
    padding: 0.5em;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    transition: .4s;
}

.navbar ul li a:hover {
    background: red;
    border-radius: 2px;
}

.wrapper .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100% - 160px);
    font-family: sans-serif;
    user-select: none;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
  }



.center {
    text-align: center;
}

.center h1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.center h2 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 1rem 0;
    text-align: center;
}

.buttons button {
    height: 35px;
    width: 100px;
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    background: red;
    outline: none;
    cursor: pointer;
    border: 1px solid #cc0000;
    border-radius: 25px;
    transition: .4s;
}

.buttons .btn2 {
    margin-left: 25px;
}

.buttons button:hover {
    background: #cc0000;
}

.contact {
    width: 100%;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.6);
}

.contact h3 {
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    width: auto;
    padding: .1rem;
    background: #cc0000;
    border-radius: 5px;
    transition: .4s;
}

.fa-brands.fa-instagram {
    color: #ffffff;
    font-size: 22px;
    transition: .4s;
}

.fa-brands.fa-facebook-square {
    color: #ffffff;
    font-size: 22px;
    transition: .4s;
}


.fa-brands.fa-whatsapp {
    color: #ffffff;
    font-size: 22px;
    transition: .4s;
}

.fa-solid.fa-envelope {
    color: #ffffff;
    font-size: 22px;
    transition: .4s;
    text-decoration: none;
}

.fa-solid:hover{
    color: #ff0000;
}

.fa-brands:hover {
    color: #ff0000;
}

@media only screen and (min-width: 768px) {
    .wrapper {
        background: url('images/background1.jpg') no-repeat;
        background-size: cover;
    }

    .navbar {
        flex-direction: row;
        justify-content: space-between;
    }
    .dropbtn{
        font-size: 18px;
    }

    .center h1 {
        color: white;
        font-size: 50px;
    }

    .center h2 {
        color: white;
        font-size: 50px;
    }

    .buttons button {
        height: 50px;
        width: 150px;
        font-size: 18px;
        font-weight: 600;
        color: #ffffff;
        background: red;
        outline: none;
        cursor: pointer;
        border: 1px solid #cc0000;
        border-radius: 25px;
        transition: .4s;

    }

    .navbar .logo {
        position: relative;
        left: 35px;
    }

    .navbar ul li a {
        font-size: 18px;
    }

    .content p {
        line-height: 24px;
    }

}