.header{
    width: 100%;
    height: 40px;
    background: red;
    padding-top: 7px;
}
.home{
    margin-left: 167px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    transition: .4s; 
}
.home:hover{
    background: white;
    color: red;
    border-radius: 2px;
    text-decoration: none;
    
}

section.our-team {
    padding: 70px 0px;
    background-color: #f2f9ff;
    text-align: center;
    color: #fff;
}
.red{
    color: red;
}
.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    background-size: cover;
    display:flex;
    justify-content: center;
    align-items: center;
  }
.our-team .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    transition: 0.4s;
    border-radius: 100%;
    border: 6px solid #ffffff;
}
.our-team h2 {
    font-size: 36px;
    color: #795548;
    font-weight: normal;
}
.our-team p {
    color: #9e9e9e;
    width: 70%;
    margin: 10px auto 10px;
}
.our-team .member:hover {
    box-shadow: 2px 2px 2px 2px #ff0000;
}
.our-team .member .member-info {
    position: absolute;
    bottom: 0;
    top: 170px;
    left: 0;
    right: 0;
    opacity: 0;
}
.our-team .member .member-detail {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}
.our-team .member .social {
    position: absolute;
    left: 0;
    bottom: -38px;
    right: 0;
    height: 48px;
    transition: bottom ease-in-out 0.4s;
    text-align: center;
}
.our-team .member .social a {
    margin: 0 10px;
    display: inline-block;
    color: #fff;
}
.our-team .member .social a:hover {
    color: #ff0000;
}
.our-team .member .social i {
    font-size: 18px;
    margin: 0 2px;
}
.our-team .member:hover .member-info {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0.57) 20%, rgba(121, 85, 72, 0.10) 100%);
    opacity: 1;
    transition: 0.4s;
}
.our-team .member:hover .member-detail {
    bottom: 80px;
}
.our-team .member:hover .social {
    bottom: 10px;
}
.person{
    font-size: 20px;
}

@media only screen and (min-width: 768px) {
    p{
        font-size: 30px;
    }
    .person{
        font-size: 30px;
    }
    span{
        font-size: 15px;
    }
    .header{
        height: 70px;
    }
    .header{
        
        padding-top: 17px;
    }
    .home{
        margin-left: 30px;
    }
}